<div class="container">
    <div class="row">
        <div class="col-md-6 asdf">
            <h1> My page is working</h1>
            <p>This is the first "{{title}}" typescript practise project by myself.</p>
        </div>
        
        
        <div class="col-md-6">
            <interpolation-trial></interpolation-trial>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="col-md-4">
        <app-property-binding></app-property-binding>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <app-my-first-custom-component></app-my-first-custom-component>
        </div>
        <div class="col-md-5">
            <interpolation-exercise></interpolation-exercise>
        </div>
    </div>
</div>

<app-event-binding></app-event-binding>